body{
    background:black;
    margin-top: 50px;
}
.img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(134, 123, 123, 0.5);

}
.about p{
    margin-top: 70px;
    text-align: center;
    color: white;
    font-family: Cookie,cursive;
    font-size: 35px;
    line-height: 1.6;
}
.social ul {
    text-decoration: none;
    text-align: center;
    margin-top: 70px;
}
.social ul li {
    display: inline-block;
    margin-left: 10px;
    
    
}

.social ul li a i{
    color:rgb(63, 63, 146);
    font-size: 54px; 
    padding: 15px; 
    background-color: black; 
    border-radius: 50%; 
    transition: background-color 0.3s, color 0.3s; 
   
}
.social ul li a i:hover{
    background-color: #0077B5; 
    color: white; 
}


